<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel = "stylesheet"
   type = "text/css"
   href = "/static/style.css" />
</head>
<body>

<!--logo-->
<div class ="logo">
<a href="index.html">
	<img src="/static/logo.jpg"/>
</a>
</div>

<!--Side navigation -->
<!-- <div class="sidenav"> -->
	<!-- <a href="news.html">News</a>	 -->
	<!-- <a href="about.html">About</a> -->
	<!-- <a href="skills.html">Skills</a> -->
	<!-- <a href="portfolio.html">Portfolio</a> -->
	<!-- <a href="contact.html">Contact</a> -->
<!-- </div> -->