<!DOCTYPE html>
<html>
<head>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
 <link rel = "stylesheet"
   type = "text/css"
   href = "style.css" />
</head>
<body>

<!--logo-->
<div class ="logo">
<a href="index.html">
	<img src="logo.jpg"/>
</a>
</div>


<!--Top navigation-->
<div class="topnav">
	<a class="active" href="index.html">Home</a>
	<a href="news.html">News</a>	
	<a href="about.html">About</a>
	<a href="skills.html">Skills</a>
	<a href="portfolio.html">Portfolio</a>
	<a href="contact.html">Contact</a>
</div>

<!--Side navigation -->
<!-- <div class="sidenav"> -->
	<!-- <a href="news.html">News</a>	 -->
	<!-- <a href="about.html">About</a> -->
	<!-- <a href="skills.html">Skills</a> -->
	<!-- <a href="portfolio.html">Portfolio</a> -->
	<!-- <a href="contact.html">Contact</a> -->
<!-- </div> -->

<!-- Page content -->
<div class="main">
	<h2> Lance Akins </h2>
	<p> Welcome to my website. This page started out as mere html/css sidebar practice, but I decided to make a full website out of it. Please make yourself at home and navigate around the site as you wish. I have removed the original repeating page text. There is sufficient text on my Skills page to demonstrate scrolling.<p>
	
	
	<p>This site is undergoing a re-design and will re-launch in August, 2018.</p>
	
	<strong> Bortas bir jablu'di' reh qaqqu' nay'!</strong>
	
	
</body>
</html>